
.hero {
  background-color: rgb(240, 240, 230);
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}

.left {
  font-size: 18px;
  float: left;
  padding-left: 20px;
}

.right {
  float: right;
  padding-right: 20px;
}

