.root {
  font-family: sans-serif;
}
.hero {
  background-color: rgb(240, 240, 230);
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}
.inline {
  display: inline-block;
  width: 30%;
  font-size: 0.8rem;
}
.label {
  font-weight: bold;
  color: gray;
}
.detail-heading{
  border-bottom:1px solid gray;
}
.hero img {
  width: 150px;
}

.left {
  font-size: 18px;
  float: left;
  padding-left: 20px;
}

.right {
  float: right;
  padding-right: 20px;
}

